<html>
    <head>
        <script type='text/javascript' src='/_ah/channel/jsapi'></script>
    </head>
    <body>
        <script type='text/javascript'>
            var ch = new goog.appengine.Channel("{{ token }}");
            var sock = ch.open();

            sock.onopen = function(){
            };

            sock.onmessage = function(message){
                console.log(message);
            };

            sock.onerror = function(err){
            };
        </script>
    </body>
</html>
